.about-title {
  @apply text-[46px] font-bold text-[#222222] text-left;
}

.anti-corruption a {
  text-decoration: underline;
  color: #2575eb;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* responsive */
@media only screen and (max-width: 900px) {
  .open-information-card {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1000px) {
  .department-item-flex {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 1300px) {
  .main-line {
    left: 52.1% !important;
    width: 1206px !important;
  }
}
